#siteProfitHistory td, th{
	font-size: 14px;
}
#siteProfitHistory th{
	text-align: center;
	font-weight: bold;
}
#filterSearch{
	width:100px;
}
.filterElementContent{
	width:330px;
	float:right;
	padding-right: 20px;
	line-height: 30px;
}
#searchByUnit, #searchByType{
	width:220px;
}

#intval_analyze_answer, #analyze_answer{
	width: 350px;
}
.btn.btn-default.btn-dark-grey{
	float: right;
	padding-right: 30px;
	padding-left: 30px;
	background-color: #666666;
	border-color: #333333;
	color: #FFF;
}
.btn.btn-default.btn-dark-grey:hover{
	background-color: #333333;
}
.my-datepicker{
	width: 150px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #f8f8f8;
}
#siteBalanceTable{
	width: 100%;
}
#siteBalanceTable th{
	text-align:center;
}
#siteBalanceTable td {
	text-align: right;
	line-height: 32px;
}
#siteProfitHistory td{
	vertical-align: middle;
}

